  <form class="" action="/" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" value="">
    <label for="body">Details</label>
    <textarea name="body" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="Submit">
  </form>
