<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flip da' Script | Welcome</title>
  </head>
  <body>
    <div class="container">
      <nav class="main_menu">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li class="dead_link">Programs</li>
          <li class="dead_link">Outcomes</li>
          <li><a href="">Contact</a></li>
        </ul>
        <div class="btns">
          <button>Register</button>
          <button>Donate</button>
        </div>
      </nav>
      <div class="hero">
        <div class="logo"><img src="http://via.placeholder.com/350x200" /></div>
        <div class="editor">
          <pre>
            &lt;<span class="pink">!DOCTYPE html</span>&gt;
            &lt;<span class="pink">html</span>&gt;
              &lt;<span class="pink">head</span>&gt;
                &lt;<span class="pink">title</span>&gt;Flip da' Script&lt;<span class="pink">/title</span>&gt;
              &lt;<span class="pink">/head</span>&gt;
              &lt;<span class="pink">body</span>&gt;
                &lt;<span class="pink">h1</span>&gt;Our Mission&lt;<span class="pink">/h1</span>&gt;
                &lt;<span class="pink">p</span>&gt;
                  To provide and hands-on design and development experience
                  for urban youth to increase diversity in the tech workforce.
                &lt;<span class="pink">/p</span>&gt;
              &lt;<span class="pink">/body</span>&gt;
            &lt;<span class="pink">/html</span>&gt;
        </pre>
        </div>
      </div>
      <article class="info">
        <div class="info_blk">
          <p>
            Children a part of our program learn the basics of the following Programming Languages:
          </p>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>Ruby on Rails <em>(coming soon)</em></li>
            <li>Python <em>(coming soon)</em></li>
          </ul>
        </div>
      </article>
      <article class="three_cols">
        <div class="single_col">
          <a href="#">
          <img src="http://via.placeholder.com/350x200" />
          <h2>Title of Article</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span class="more">Read More</span></p>
          </a>
        </div>
        <div class="single_col">
          <a href="#">
          <img src="http://via.placeholder.com/350x200" />
          <h2>Title of Article</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span class="more">Read More</span></p>
          </a>
        </div>
        <div class="single_col">
          <a href="#">
          <img src="http://via.placeholder.com/350x200" />
          <h2>Title of Article</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span class="more">Read More</span></p>
          </a>
        </div>
      </article>
      <div class="email">
        <form class="">
          <label for="">Name:</label>
          <input type="text" name="" value="">
          <label for="">Email Address:</label>
          <input type="email" name="" value="">
          <button type="button" name="button">Submit</button>
        </form>
      </div>
      <footer>
        <div class="sponsors">
          <span class="more">Sponsored in part by:</span>
          <img src="http://via.placeholder.com/100x55" />
          <img src="http://via.placeholder.com/100x55" />
          <img src="http://via.placeholder.com/100x55" />
          <button type="button" name="button">Donate</button>
        </div>
        <div class="ftr_list">
          <ul>
            <li>Footer Link</li>
            <li>Footer Link</li>
            <li>Footer Link</li>
            <li>Footer Link</li>
            <li>Footer Link</li>
          </ul>
          <ul>
            <li>Footer Link</li>
            <li>Footer Link</li>
            <li>Footer Link</li>
            <li>Footer Link</li>
            <li>Footer Link</li>
          </ul>
          <ul>
            <li>Footer Link</li>
            <li>Footer Link</li>
            <li>Footer Link</li>
            <li>Footer Link</li>
            <li>Footer Link</li>
          </ul>
        </div>
      </footer>

    </div> <!-- end container -->
  </body>
</html>
