      <div class="hero">
        <div class="logo"><img src="/img/logo.png" /></div>
        <div class="editor">
  <pre class="typewriter">
    &lt;<span class="pink">!DOCTYPE html</span>&gt;
    &lt;<span class="pink">html</span>&gt;
      &lt;<span class="pink">head</span>&gt;
        &lt;<span class="pink">title</span>&gt;Flip da' Script&lt;<span class="pink">/title</span>&gt;
      &lt;<span class="pink">/head</span>&gt;
      &lt;<span class="pink">body</span>&gt;
        &lt;<span class="pink">h1</span>&gt;Our Mission&lt;<span class="pink">/h1</span>&gt;
        &lt;<span class="pink">p</span>&gt;
          To provide and hands-on design and development experience for urban youth to increase diversity in the tech workforce.
        &lt;<span class="pink">/p</span>&gt;
      &lt;<span class="pink">/body</span>&gt;
    &lt;<span class="pink">/html</span>&gt;
  </pre>
        </div>
      </div>
      <article class="info">
        <div class="info_blk">
          <p>
            Children a part of our program <br />learn the basics of the following <br />Programming Languages:
          </p>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>Ruby on Rails <em>(coming soon)</em></li>
            <li>Python <em>(coming soon)</em></li>
          </ul>
        </div>
        <div class="kids">
          <img src="/img/kids.png" />
          <div class="circle"></div>
        </div>
      </article>
      <article class="three_cols">
        <div class="single_col">
          <a href="#">
          <img src="/img/col1.png" />
          <h2>After-school Program</h2>
          <p>For ages 8-17, youth can participate in our after-school program from 3:00-5:00pm, Monday-Wednesday every week.  <span class="more">Read More</span></p>
          </a>
        </div>
        <div class="single_col">
          <a href="#">
          <img src="/img/col2.png" />
          <h2>"Summer of Code" Camp</h2>
          <p>From July-August, boys and girls ages 8-13, can attend the Summer of Code Day Camp FREE for courses, contests, trips, and more. <span class="more">Read More</span></p>
          </a>
        </div>
        <div class="single_col">
          <a href="#">
          <img src="/img/col3.png" />
          <h2>Online Courses</h2>
          <p>Using interactive games, children can take online coding courses and recieve prizes, certificates, badges, and more! <span class="more">Read More</span></p>
          </a>
        </div>
      </article>
