<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flip da' Script | Welcome</title>
  </head>
  <body>
    <div class="container">
      <nav class="main_menu">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li class="dead_link">Programs</li>
          <li class="dead_link">Outcomes</li>
          <li><a href="">Contact</a></li>
        </ul>
        <button>Register</button>
        <button>Donate</button>
      </nav>
      <div class="slider">
        <!-- BX HERE -->
      </div>
      <article>
        <div>
          <p>
            Children a part of our program learn the basics of the following Programming Languages:
          </p>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>Ruby on Rails <em>(coming soon)</em></li>
            <li>Python <em>(coming soon)</em></li>
          </ul>
        </div>
      </article>
      <article class="three_cols">
        <div class="single_col">
          <a href="#">
          <img src="http://via.placeholder.com/350x200" />
          <h2>Title of Article</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span class="more">Read More</span></p>
          </a>
        </div>
        <div class="single_col">
          <a href="#">
          <img src="http://via.placeholder.com/350x200" />
          <h2>Title of Article</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span class="more">Read More</span></p>
          </a>
        </div>
        <div class="single_col">
          <a href="#">
          <img src="http://via.placeholder.com/350x200" />
          <h2>Title of Article</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span class="more">Read More</span></p>
          </a>
        </div>
      </article>
      <footer>
        <span>Website Created By Fatima Burke</span>
      </footer>

    </div> <!-- end container -->
  </body>
</html>
