<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flip da' Script | Welcome</title>
  </head>
  <body>

    <%= yield %>
    <script src="/js/index.js"></script>
  </body>
</html>
