<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flip Da' Script | Welcome</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <div class="container">
      <nav class="main_menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="dead_link">Programs</li>
          <li class="dead_link">Outcomes</li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="btns">
          <button class="reg">Register</button>
          <button class="don1">Donate</button>
        </div>
      </nav>

    <%= yield %>

        <div class="email">
          <h1>Stay Up to Date With Us:</h1>
          <form class="">
            <label for="">Name:</label>
            <input type="text" name="" value="">
            <label for="">Email Address:</label>
            <input type="email" name="" value="">
            <button type="button" name="button">Submit</button>
          </form>
        </div>
        <footer>
            <div class="sponsors">
              <span class="sponstext">Sponsored in part by:</span>
              <img src="/img/crayola.png" />
              <img src="/img/blkent.png" />
              <img src="/img/mcd365.png" />
              <button type="button" name="button">Donate</button>
            </div>
            <div class="ftr_list">
              <ul>
                <li>Footer Link</li>
                <li>Footer Link</li>
                <li>Footer Link</li>
                <li>Footer Link</li>
                <li>Footer Link</li>
              </ul>
              <ul>
                <li>Footer Link</li>
                <li>Footer Link</li>
                <li>Footer Link</li>
                <li>Footer Link</li>
                <li>Footer Link</li>
              </ul>
              <ul>
                <li>Footer Link</li>
                <li>Footer Link</li>
                <li>Footer Link</li>
                <li>Footer Link</li>
                <li>Footer Link</li>
              </ul>
            </div>
        </footer>

      </div> <!-- end container -->
    <script src="/js/index.js"></script>
  </body>
</html>
