<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flip da' Script | Welcome</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <div class="container">
      <nav class="main_menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="dead_link">Programs</li>
          <li class="dead_link">Outcomes</li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="btns">
          <button class="reg">Register</button>
          <button class="don1">Donate</button>
        </div>
      </nav>

    <%= yield %>
    <script src="/js/index.js"></script>
  </body>
</html>
