@import url('https://fonts.googleapis.com/css?family=Lato');
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  list-style-type: none;
}
h2 {
  color: #27ac94;
  padding-bottom: 5px;
}
nav {
  background-color: #752251;
  display: grid;
  grid-template-columns: 70% 30%;
}

nav li a, .dead_link {
  line-height: 65px;
}

nav li a {
  color:#fff;
}

.dead_link {
  color: #a54d80;
}

nav ul, footer .sponsors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
  grid-gap: 10px;
}

nav .btns {
  line-height: 65px;
}

.reg {
  background-color: #d97227;
}

.don1 {
  background-color: #27ac94;
}

nav .btns button, .sponsors button {
  padding: 10px 30px;
  border-radius: 0px 10px 10px 10px;
  margin-right: 15px;
  border: none;
  color: #fff;
  font-size: 17px;
}

.hero {
  background: url(/img/herobg.png) no-repeat;
  background-size: cover;
  background-color: #fff;
  min-height: 330px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0px 80px;
}

.hero img {
  margin: 80px;
}

.editor {
  background-color: #303030;
  font-size: 17px;
  padding: 15px;
  color: #fff;
  border-radius: 0px 0px 0px 70px;
  margin-bottom: 110px;
}

.pink {
  color: #ca4c95;
}

.info {
  background: url(/img/infobg.png) center no-repeat;
  background-color: #27ac94;
  border-bottom: 10px solid #d97227;
  height: 300px;
  padding:15px;
  color:#fff;
  position: relative;
}

.info_blk {
  width: 76%;
  margin: 0 auto;
}

.info_blk ul{
  margin-top: 20px;
}

.kids img {
  position: absolute;
  top: -91px;
  right: 152px;
  z-index: 9999;
}

.circle {
  display: block;
  border-radius: 100%;
  background-color: #752251;
  height: 370px;
  width: 370px;
  position: absolute;
  z-index: 9998;
  top: -37px;
  right: 262px;
}

.info ul li {
  list-style-type: disc;
}

.three_cols {
  min-height: 300px;
  padding: 30px 160px;
}

.single_col {
  margin: 20px;
}

.single_col img {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

.more {
  color: #752251;
}

.three_cols a {
  min-height: 300px;
  color: #404040;
}

.three_cols, .ftr_list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  background-color: #dedede;
}

.email {
  background-color: #fff;
  padding:20px;
  height: 200px;
  text-align: center;
}

.email input {
  height: 34px;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

form button {
  height: 34px;
  border-radius: 0px 10px 10px 10px;
  border: 0px;
  margin-right: 10px;
  color: #fff;
  font-size:14px;
  background-color: #d97227;
}
.sponsors {
  background-color: #752251;
  height: 100px;
  padding:20px;
  text-align: center;
}
.ftr_list {
  background-color: #303030;
  padding:20px;
  color: #fff;
}
